.Header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Satoshi";
  width: 100%;
  border-bottom: 1px solid rgb(198, 198, 198);
  z-index: 1000;
  background-color: white;
  height: 70px;
  &__logo {
    width: 80px;
    height: auto;
    padding-left: 5vh;
  }

  &-button {
    padding-right: 5vh;

    &__link {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
      text-decoration: none;
    }
    &__text {
      font-family: "Satoshi";
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      color: black;
      &__image {
        width: 30px;
        height: 30px;
      }
    }
  }
}
@media only screen and (max-width: 570px) {
  .Header {
    justify-content: center;
    border-bottom: 0px;
    &__logo {
      display: none;
    }
    &-button {
      padding: 0px 0px 0px 5px;
    }
    &-button__text {
      display: none;
    }
    &-button__text__image {
      height: 40px;
      width: 40px;
      padding-left: 15;
    }
  }
}
