.Searchbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 15px;
  height: 14px;
  border-radius: 100px;
 
  &__input {
    border: 1px solid grey;
    outline: none;
    width: 300px;
    padding: 10px;
    height: 15px;
    border-radius: 100px;
  }
  
}

@media only screen and (max-width: 470px) {
  .Searchbox {
    margin-top: 26px;
    height: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
    &__input{
          width: 70vw;
          margin-top: 25px;
    }
  }
}
